{% extends 'base/base.html' %}

{% load static %}

{% block title %}Results{% endblock %}
<body>

{% block content %}
    <div class="view full-page-intro"
         style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/78.jpg'); background-repeat: no-repeat; background-size: cover; height: 952px;">
        <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
            <div style="width: 80%">

                <div class="wrap-login100">
                    <div class="login100-form-title">
                        <h2 class="text-uppercase text-center text-white"><strong>Results</strong></h2>
                        <br>
                        <table id="MyTable" class="table table-dark table-striped table-hover text-center" border="1"
                               width="100%">
                            {% if list %}
                                <thead>
                                <td>Type</td>
                                <td>Create_at</td>
                                <td>Customer</td>
                                <td>Send</td>

                                </thead>
                                <tbody>
                                {% for object in list %}
                                    <tr>
                                        {% for i in object %}
                                            <td>{{ i }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
{#                                <tr>#}
{#                                    <td colspan="4">#}
{#                                        <a href="{{ link }}" download="asd.xlsx" class="btn btn-primary">Download</a>#}
{#                                    </td>#}
{#                                </tr>#}
                                </tbody>
                            {% else %}
                                <h2 class="text-center text-white">No files</h2>
                            {% endif %}
                        </table>
                    </div>

                </div>
                <br>
                <a class="btn btn-lg btn-primary btn-block text-uppercase"
                   href="{% url 'index' %}">
                    <i class="fas fa-backward mr-2"></i>Index</a>

            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable({
                    paging: false,
                    scrollY: 210,
                    select: true,
                    language: {
                        searchPlaceholder: "Search",
                        search: "",
                    }

                }
            );
        });
    </script>
{% endblock %}
</body>