{% extends 'base/base.html' %}

{% load static %}

{% block title %}Succes customer{% endblock %}

<body>
    {% block content %}
                <div class="view full-page-intro"
         style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/78.jpg'); background-repeat: no-repeat; background-size: cover;">

        <!-- Mask & flexbox options-->
        <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

            <!-- Content -->
            <div class="container">
                <!--Grid row-->
                <!--Grid row-->
                <div class="row wow fadeIn col-xs-12">

                    <!--Grid column-->
                    <div class="" style="margin-left: auto;margin-right: auto;">

                        <h1 style="color: white;">THE FILE HAS BEEN ADDED</h1>

                    </div>
                    <!--Grid column-->


                </div>
                <!--Grid row-->
                <br><br>
                <center>
                    <a class="btn btn-lg btn-primary text-uppercase" href="{% url 'index' %}">
                        <i class="fas fa-backward mr-2"></i>Index
                    </a>
                </center>
            </div>
            <!-- Content -->

        </div>

    </div>
    {% endblock %}
</body>