{% extends 'base/base.html' %}

{% load static %}

{% block title %}Add file{% endblock %}

<body>
{% block content %}
    <div class="view full-page-intro"
         style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/78.jpg'); background-repeat: no-repeat; background-size: cover; height: 1200px;">

        <!-- Mask & flexbox options-->
        <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

            <!-- Content -->
            <div class="container">
                <!--Grid row-->
                <!--Grid row-->
                <div class="row wow fadeIn col-xs-12">

                    <!--Grid column-->
                    <div class="col-md-6 mb-4" style="margin-left: auto;margin-right: auto;">

                        <!--Card-->
                        <div class="card" style="height: 950px;">

                            <!--Card content-->
                            <div class="card-body">

                                <!-- Form -->
                                <form enctype="multipart/form-data" method="post">
                                    {% csrf_token %}
                                    {{ form.errors }}
                                    <!-- Heading -->
                                    <h3 class="dark-grey-text text-center">
                                        <strong>Document Exporter Reporter</strong>
                                    </h3>
                                    <hr>

                                    <div class="md-form">
                                        <i class="fas fa-address-card prefix grey-text"></i>
                                        <label for="id_customer">{{ form.customer.label }}</label><br><br>
                                        {{ form.customer }}

                                    </div>

                                    <div class="md-form">
                                        <i class="fas fa-address-card prefix grey-text"></i>
                                        <label for="id_emailID">{{ form.emailID.label }}</label><br><br>
                                        {{ form.emailID }}

                                    </div>

                                    <div class="md-form">
                                        <i class="fas fa-address-card prefix grey-text"></i><br>
                                        <label for="id_emailDate">{{ form.emailDate.label }}</label><br>
                                        {{ form.emailDate }}
                                    </div>

                                    <div class="md-form">
                                        <i class="fas fa-address-card prefix grey-text"></i><br>
                                        <label for="id_options">{{ form.options.label }}</label><br>
                                        {{ form.options }}
                                    </div>

                                    <div class="md-form">
                                        <i class="fas fa-address-card prefix grey-text"></i><br>
                                        <label for="id_send">{{ form.send.label }}</label><br>
                                        {{ form.send }}
                                    </div>

                                    <div class="md-form">
                                        <i class="fas fa-address-card prefix grey-text"></i><br>
                                        <label for="id_file">{{ form.file.label }}</label><br>
                                        {{ form.file }}
                                    </div>

                                    <div class="md-form">
                                        <i class="fas fa-address-card prefix grey-text"></i><br>
                                        <label for="id_created_at">{{ form.created_at.label }}</label><br>
                                        {{ form.created_at }}
                                    </div>


                                    <div class="text-center">
                                        <button class="btn btn-indigo" type="submit">Send</button>
                                    </div>

                                </form>
                                <!-- Form -->

                            </div>

                        </div>
                        <!--/.Card-->

                    </div>
                    <!--Grid column-->


                </div>
                <!--Grid row-->
                <center>
                    <a class="btn btn-lg btn-primary text-uppercase" href="{% url 'index' %}">
                        <i class="fas fa-backward mr-2"></i>Index
                    </a>
                </center>
            </div>
            <!-- Content -->

        </div>

    </div>
{% endblock %}
</body>