{% extends 'base/base.html' %}

{% load static %}

{% block title %}Exporter{% endblock %}

<body>
{% block content %}
    <div class="view full-page-intro"
         style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/78.jpg'); background-repeat: no-repeat; background-size: cover;">

        <!-- Mask & flexbox options-->
        <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

            <!-- Content -->
            <div class="container">
                <!--Grid row-->
                <!--Grid row-->
                <div class="row wow fadeIn col-xs-12">

                    <!--Grid column-->
                    <div class="col-md-6 mb-4" style="margin-left: auto;margin-right: auto;">

                        <!--Card-->
                        <div class="card">

                            <!--Card content-->
                            <div class="card-body">

                                <!-- Form -->
                                <form method="post">
                                    {% csrf_token %}
                                    <!-- Heading -->
                                    <h3 class="dark-grey-text text-center">
                                        <strong>Document Exporter Reporter</strong>
                                    </h3>
                                    <hr>

                                    <div class="md-form">
                                        <i class="fas fa-address-card prefix grey-text"></i>
                                        <label for="id_name">{{ form.name.label }}</label><br>
                                        {{ form.name }}

                                    </div>
                                    <div class="md-form">
                                        <i class="fas fa-address-card prefix grey-text"></i><br>
                                        <label for="id_parser">{{ form.parser.label }}</label><br>
                                        {{ form.parser }}
                                    </div>

                                    <div class="text-center">
                                        <button class="btn btn-indigo" type="submit">Send</button>
                                    </div>

                                </form>
                                <!-- Form -->

                            </div>

                        </div>
                        <!--/.Card-->

                    </div>
                    <!--Grid column-->


                </div>
                <!--Grid row-->
                <center>
                    <a class="btn btn-lg btn-primary text-uppercase" href="{% url 'index' %}">
                        <i class="fas fa-backward mr-2"></i>Index
                    </a>
                </center>
            </div>
            <!-- Content -->

        </div>

    </div>

{% endblock %}
</body>