{% extends 'base/base.html' %}

{% load static %}

{% block title %}Filter{% endblock %}

<body>
{% block content %}
    <div class="view full-page-intro"
         style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/78.jpg'); background-repeat: no-repeat; background-size: cover; height: 952px;">

        <!-- Mask & flexbox options-->
        <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

            <!-- Content -->
            <div class="container">
                <!--Grid row-->
                <!--Grid row-->
                <div class="row wow fadeIn col-xs-12">

                    <!--Grid column-->
                    <div class="col-md-6 mb-4" style="margin-left: auto;margin-right: auto;">

                        <!--Card-->
                        <div class="card" style="height: 695px;">

                            <!--Card content-->
                            <div class="card-body">

                                <!-- Form -->
                                <form method="post">
                                    {% csrf_token %}
                                    <!-- Heading -->
                                    <h3 class="dark-grey-text text-center">
                                        <strong>Document Exporter Reporter</strong>
                                    </h3>
                                    <hr>

                                    <div class="md-form">
                                        <i class="fas fa-address-card prefix grey-text"></i>
                                        <label for="customer">Customer</label><br><br>
                                        <select id="customer" name="customer">
                                            {% if customers %}
                                                <option selected="-----">-----</option>
                                                {% for customer in customers %}
                                                    <option value={{ customer.id }}>{{ customer.name }}</option>
                                                {% endfor %}
                                            {% else %}
                                                <option value="Please back to add a customer">Please back to add a
                                                    customer
                                                </option>
                                            {% endif %}
                                        </select>

                                    </div>

                                    <div class="md-form">
                                        <i class="fas fa-address-card prefix grey-text"></i>
                                        <label for="filter_by">Filter by</label><br><br>
                                        <select id="filter_by" name="filter_by">
                                            <option selected="-----">-----</option>
                                            <option value="Email_date">Email_date</option>
                                            <option value="Customer_date">Customer_date</option>
                                        </select>

                                    </div>

                                    <div class="md-form">
                                        <i class="fas fa-address-card prefix grey-text"></i>
                                        <label for="date_initial">Date initial</label><br><br>
                                        <input type = 'date' name = 'date_initial'>

                                    </div>

                                    <div class="md-form">
                                        <i class="fas fa-address-card prefix grey-text"></i>
                                        <label for="finish_date">Finish date</label><br><br>
                                        <input type = 'date' name = 'finish_date'>
                                    </div>

                                    <div class="md-form">
                                        <i class="fas fa-address-card prefix grey-text"></i>
                                        <label for="status">Status send</label><br><br>
                                        <select id="status" name="status">
                                            <option selected="-----">-----</option>
                                            <option value="true">true</option>
                                            <option value="false">false</option>
                                        </select>
                                    </div><br>

                                    <div class="text-center">
                                        <button class="btn btn-indigo" type="submit">Send</button>
                                    </div>

                                </form>
                                <!-- Form -->

                            </div>

                        </div>
                        <!--/.Card-->

                    </div>
                    <!--Grid column-->


                </div>
                <!--Grid row-->
                <center>
                    <a class="btn btn-lg btn-primary text-uppercase" href="{% url 'index' %}">
                        <i class="fas fa-backward mr-2"></i>Index
                    </a>
                </center>
            </div>
            <!-- Content -->

        </div>

    </div>
{% endblock %}
</body>